* {
    margin: 0;
    padding: 0;
}

@keyframes l-move {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }
}

@keyframes r-move {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-30deg);
    }

}

@keyframes blenk {

    1%,
    99% {
        background: black;
    }
}

@keyframes hello {
    40% {
        transform: rotate(-120deg);
    }

    50% {
        transform: rotate(-100deg);
    }

    60% {
        transform: rotate(-120deg);
    }
}

body {
    background: black;
}

.canvas {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    justify-items: end;

    width: 1000px;
    height: 1000px;
    /* border: 1px solid white; */

}

.stive {
    width: 25%;
    /* border: 1px solid white; */

    .head {
        height: 25%;
        /* border: 1px solid white; */

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);

        .pixel {
            background: #b3836c;
            /* border: 1px solid black; */
        }

        .pixel:nth-child(n+1):nth-child(-n+17),
        .pixel:nth-child(24),
        .pixel:nth-child(51),
        .pixel:nth-child(54),
        .pixel:nth-child(n+59):nth-child(-n+62) {
            background: #2d1d0d;
        }

        .pixel:nth-child(34),
        .pixel:nth-child(39) {
            background: white;
        }

        .pixel:nth-child(35),
        .pixel:nth-child(38) {
            background: #523d88;
        }

        .pixel:nth-child(44),
        .pixel:nth-child(45) {
            background: #6b4030;
        }

        .pixel:nth-child(52),
        .pixel:nth-child(53) {
            background: #8b4b3f;
        }
    }

    .body {
        position: relative;
        display: flex;
        justify-content: center;

        height: 30%;
        /* border: 1px solid white; */
        background: #00b1b1;

        .hand {
            position: absolute;
            transform-origin: 50% 10%;
            height: 120%;
            width: 50%;
            /* border: 1px solid red; */

            display: grid;
            grid-template-rows: 1fr 2fr;

            >div:nth-child(1) {
                background: #00b1b1;
            }

            >div:nth-child(2) {
                background: #b3836c;
            }

        }

        .hand.r {
            left: 100%;
            /* transform: rotate(-30deg); */
        }

        .hand.l {
            left: -50%;
            /* transform: rotate(30deg); */
        }
    }

    .legs {

        position: relative;
        display: flex;

        height: 45%;

        .leg {
            position: absolute;
            width: 50%;
            height: 100%;
            /* border: 1px solid blue; */

            display: grid;
            grid-template-rows: 9fr 1fr;

            >div:nth-child(1) {
                background: #4437a7;
            }

            >div:nth-child(2) {
                background: gray;
            }
        }

        .leg.r {
            transform-origin: top left;
            /* transform: rotate(30deg); */
        }

        .leg.l {
            left: 50%;
            transform-origin: top right;
            /* transform: rotate(-30deg); */
        }
    }
}

.hand.l,
.leg.r {
    animation-name: l-move;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.leg.l {
    animation-name: r-move;
    animation-duration: 3s;
    animation-fill-mode: both;
}

/* Моргание */
.pixel:nth-child(34),
.pixel:nth-child(39),
.pixel:nth-child(35),
.pixel:nth-child(38) {
    animation-name: blenk;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.hand.r {
    animation-name: r-move, hello;
    animation-delay: 0s, 4s;
    animation-duration: 3s;
    animation-fill-mode: both;
}