* {
    margin: 0;
    padding: 0;
}

@keyframes l-move {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }
}

@keyframes r-move {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-30deg);
    }

}

@keyframes blenk {

    1%,
    99% {
        background: #8b4b3f;
    }
}

@keyframes hello {
    40% {
        transform: rotate(-120deg);
    }

    50% {
        transform: rotate(-100deg);
    }

    60% {
        transform: rotate(-120deg);
    }

}

@keyframes body-move {
    40% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(-2deg);
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
    100%{
        bottom: 0;
    }
}

body {
    background: black;
}

.canvas {
    position: relative;
    margin: 200px auto 0;
    display: flex;
    justify-content: center;
    justify-items: end;

    width: 1000px;
    height: 1000px;
    /* border: 1px solid white; */

}

.ground {
    height: 500px;
    background: #8b4b3f;

    .grass {
        height: 20%;
        background: green;
    }
}

.stive {
    position: relative;
    position: absolute;
    width: 250px;
    height: 1000px;
    /* border: 1px solid white; */

    .body {
        height: 60%;
        background: #00b1b1;
        transform-origin: bottom center;

        /* border: 1px solid red; */

        .head {
            height: 250px;
            /* border: 1px solid white; */

            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);

            .pixel {
                background: #b3836c;
                /* border: 1px solid black; */
            }

            .pixel:nth-child(n+1):nth-child(-n+17),
            .pixel:nth-child(24),
            .pixel:nth-child(51),
            .pixel:nth-child(54),
            .pixel:nth-child(n+59):nth-child(-n+62) {
                background: #2d1d0d;
            }

            .pixel:nth-child(34),
            .pixel:nth-child(39) {
                background: white;
            }

            .pixel:nth-child(35),
            .pixel:nth-child(38) {
                background: #523d88;
            }

            .pixel:nth-child(44),
            .pixel:nth-child(45) {
                background: #6b4030;
            }

            .pixel:nth-child(52),
            .pixel:nth-child(53) {
                background: #8b4b3f;
            }
        }

        .hands {
            height: 300px;
            /* border: 1px solid red; */
            position: relative;
            display: flex;
            justify-content: center;

            .hand {
                position: absolute;
                transform-origin: 50% 15%;
                height: 120%;
                width: 50%;
                /* border: 1px solid red; */

                display: grid;
                grid-template-rows: 1fr 2fr;

                >div:nth-child(1) {
                    background: #00b1b1;
                }

                >div:nth-child(2) {
                    background: #b3836c;
                }

            }

            .hand.r {
                left: 100%;
                /* transform: rotate(-30deg); */
            }

            .hand.l {
                left: -50%;
                /* transform: rotate(30deg); */
            }
        }

        .pants {
            height: 10%;
            background: #4437a7;
        }
    }

    .legs {

        position: relative;
        display: flex;

        height: 40%;

        .leg {
            position: absolute;
            width: 50%;
            height: 100%;
            /* border: 1px solid blue; */

            display: grid;
            grid-template-rows: 9fr 1fr;

            >div:nth-child(1) {
                background: #4437a7;
            }

            >div:nth-child(2) {
                background: gray;
            }
        }

        .leg.r {
            transform-origin: top left;
            /* transform: rotate(30deg); */
        }

        .leg.l {
            left: 50%;
            transform-origin: top right;
            /* transform: rotate(-30deg); */
        }
    }
}

.stive:active {
    animation-name: jump;
    animation-duration: 1s;
    animation-fill-mode: both;

    .leg.r {
        animation-name: l-move;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .leg.l {
        animation-name: r-move;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}


.stive:hover {

    /* Моргание */
    .pixel:nth-child(34),
    .pixel:nth-child(39),
    .pixel:nth-child(35),
    .pixel:nth-child(38) {
        animation-name: blenk;
        animation-delay: 1s;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    .hand.r {
        animation-name: hello;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    .body {
        animation-name: body-move;
        animation-duration: 3s;
        animation-fill-mode: both;
    }
}